*
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.parent
{
    width: 600px;
    height: 300px;
    padding: 10px;
    display: flex;
    color: white;
    flex-wrap: wrap;
    margin: 20px auto;
    align-items:center;
    flex-direction: row;
    background-color: #eee;
    align-content: space-between;
    justify-content: space-around;
}

.parent div
{
    padding: 10px 0;
    text-align: center;
    width: calc(97% / 3);
    background-color: orangered;
}