*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.parent
{
    width: 600px;
    height: 300px;
    padding: 10px;
    display: flex;
    margin: 20px auto;
    text-align: center;
    flex-direction: column;
    background-color: #eee;
    justify-content: space-between;
}

.parent div
{
    width: 5%;
    color: white;
    padding: 20px 0;
    align-self: flex-end;
    background-color: #009789;
}

.parent .two
{
    width: 50%;
    align-self: flex-start;
}
