*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.parent
{
    width: 600px;
    height: 300px;
    padding: 10px;
    display: flex;
    margin: 20px auto;
    text-align: center;
    background-color: #eee;
    justify-content: space-between;
}

.parent div
{
    height: 50%;
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    width: calc(70% / 4);
    justify-content: center;
}

.one
{
    order: 2;
    background-color: #ff9800;
}

.two
{
    order: 3;
    background-color: #8bc24b;
}

.three
{
    order: 4;
    background-color: #785448;
}

.four
{
    order: 1;
    background-color: #673bb6;
}

.four,
.two
{
    align-self: flex-end;
}