@mixin arrow($direction) {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    #{$direction}: -40px;
    border-bottom-color: red;
}
.element {
    &:before {
        @include arrow("top");
    }
}
.element {
    &:before {
        @include arrow("right");
    }
}
.element {
    &:before {
        @include arrow("bottom");
    }
}
.element {
    &:before {
        @include arrow("left");
    }
}