a
{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px;
    background-color: rgb(0, 150, 136);
    color: white;
    padding: 20px 40px;
    margin: 20px;
    display: block;
    width: fit-content;
    box-shadow: 0 6px rgb(0, 81, 74);
}