p
{
    background-color: #eee;
    padding: 20px;
    margin: 10px auto;
    width: 450px;
    position: relative;
    border-left: solid 5px rgb(248, 6, 127);
}

p::before
{
    content: attr(data-person);
    float: left;
    position: absolute;
    background-color: #eee;
    left: -110px;
    top: 10px;
    padding: 10px;
    width: 60px;
}

p::after
{
    content: "";
    position: absolute;
    border: solid 10px;
    border-color: transparent rgb(248, 6, 127) transparent transparent;
    right: 495px;
}
