:root
{
    --mainWidth: 600px;
    --mainheight: 100px;
    --mainBorderSize: 6px;
    --mainColorSize: calc(100% / 6);
}

div
{
    position: relative;
    width: var(--mainWidth);
    height: var(--mainheight);
    margin: 30px auto;
    background-color: #eee;
    text-align: center;
    line-height: var(--mainheight);
    font-size: 60px;
    font-weight: bold;
    border-right: solid #663ab6 var(--mainBorderSize);
    border-left: solid #f54236 var(--mainBorderSize);
}

div::first-letter
{
    color: red;
}

div:before
{
    content: "";
    top: 0px;
    left: 0;
    width: 100%;
    position: absolute;
    height: var(--mainBorderSize);
    background-image: linear-gradient(
        to right,
        #f54236 20%,
        #2197f2 20%,
        #2197f2 40%,
        #4daf51 40%,
        #4daf51 60%,
        #e81e62 60%,
        #e81e62 80%,
        #663ab6 80%
    );
}

div:after
{
    content: "";
    left: 0;
    bottom: 0px;
    width: 100%;
    position: absolute;
    height: var(--mainBorderSize);
    background-image: linear-gradient(
        to right,
        #f54236 20%,
        #2197f2 20%,
        #2197f2 40%,
        #4daf51 40%,
        #4daf51 60%,
        #e81e62 60%,
        #e81e62 80%,
        #663ab6 80%
    );
}
